.barra{
    background-color: beige;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    
}

#head1 {
    background: url(BB220205.jpg);
    background-repeat: repeat-x;
   }

  