.barra{
    background-color: beige;
    font-size: larger;
    font-weight: bolder;
    text-align: center;
    
}

#head {
    background-image:url('anuncio-de-classificados-1200x675-1.jpg');
    background-repeat: repeat-x;
    position: absolute;
}
